.but1{
    font-family: Graphik;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 15px;


/* Secondary/Default */
color: #007C89;
border: 1px solid #007C89;
width: 139px;
height: 59px;
background-color: #FFFFFF;
}