#singup4layout {
  height: 830px;
  width: 1490px;
  border-radius: 0px;
  background: #ffffff;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  margin: auto;
}

.horizantalline {
  height: 830px;
  width: 9px;
  background: #ffe01b;
}

.flowerlayout {
  height: 830px;
  width: 300px;
  float: right;
  background: #ffe01b;
  margin-left: 30px;
}

.flowerimagelayout {
  height: 743px;
  width: 300px;
  margin-left: -60px;
  margin-top: 50px;
}

.accountsetup {
  height: 31px;
  width: 170px;
  margin-left: 50px;
  margin-top: 14px;
  font-family: Lora;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: left;
}

.planprofileicons {
  display: flex;
  flex-direction: row;
}

.plan {
  display: flex;
  flex-direction: row;
  height: 22px;
  width: 33px;
  margin-left: 50px;
  margin-top: 10px;
}
.greaterthan {
  margin: 0px 10px;
  width: 33px;
  height: 22px;
  margin-left: 10px;
}

.finish {
  height: 22px;
  width: 62px;
  margin-left: 30px;
  margin-top: 8px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  color: #716b67;
}
.profile {
  height: 22px;
  width: 48px;
  margin-left: 30px;
  margin-top: 8px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  color: #716b67;
}
.Address {
  height: 22px;
  width: 62px;
  margin-left: 20px;
  margin-top: 8px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  color: #716b67;
}
.contact {
  height: 22px;
  width: 62px;
  margin-left: 20px;
  margin-top: 8px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  color: #716b67;
}
.customize {
  height: 22px;
  width: 62px;
  margin-left: 20px;
  margin-top: 8px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  display: flex;
  color: #716b67;
}

.selectionbar {
  display: flex;
  flex-direction: row;
}
.selection,
.payment,
.conformation {
  height: 22px;
  width: 73px;
  margin-left: 50px;
  margin-top: 30px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #007c89;
  display: flex;
}

.payment,
.conformation {
  margin-left: 20px;
  color: #716b67;
}

.twoboxlayout {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

.flexboxes {
  height: 372px;
  width: 760px;
  margin-left: 50px;
  margin-top: 30px;
  border: 0.25px solid #000000;
}

.box1-kk,
.box2-kk,
.box3,
.box4 {
  height: 370px;
  width: 204px;
  background: #ffffff;
  border: 1px solid #000000;
}

.boxes {
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  margin-top: 20px;
}
.insidebox1 {
  display: flex;
  flex-direction: row;
}

.premium {
  height: 33px;
  width: 111px;
  margin-left: 12px;
  margin-top: 40px;
  font-family: Lora;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.radiobtn {
  height: 16px;
  width: 16px;
  margin-left: 4px;
  margin-top: 50px;
  border-radius: 0px;
  background: #ffffff;
}

.advancedfeatures {
  height: 66px;
  width: 189px;
  margin-left: 12px;
  margin-top: 5px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}

.youwillpay {
  height: 16px;
  width: 70px;
  margin-left: 63px;
  margin-top: 30px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;
}

.signuprupees {
  height: 46px;
  width: 200px;
  margin-left: 12px;
  margin-top: 20px;
  font-family: Lora;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Lora;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.amonth {
  height: 17px;
  width: 62px;
  margin-left: 67px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: center;
}

.with10000contacts {
  height: 15px;
  width: 144px;
  margin-left: 26px;
  margin-top: 30px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.purchasesummarylayout {
  height: 107px;
  width: 278px;
  margin-left: 20px;
  /* margin-top: 192px; */
  border-radius: 0px;
  background: #efeeea;
  border: 0.1px solid #000000;
}
.purchasesummarytext {
  height: 26px;
  width: 218px;
  margin-left: 25px;
  margin-top: 30px;
  font-family: Graphik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: center;
}

.buildindian {
  height: 15px;
  width: 145px;
  margin-left: 45px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.freeplanlayout {
  height: 177px;
  width: 278px;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 0px;
  padding: 25px, 25px, 90px, 25px;
  background: #ffffff;
  border: 0.1px solid #000000;
}

.freeplantext {
  height: 22px;
  width: 62px;
  margin-left: 25px;
  margin-top: 25px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.freeplaninnerflex {
  display: flex;
  flex-direction: row;
}
.rs0000 {
  height: 22px;
  width: 53px;
  margin-left: 130px;
  margin-top: 25px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
}

.contact2000,
.contact10000 {
  height: 10px;
  width: 228px;
  margin-left: 25px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #000000;
}

.next {
  height: 43px;
  width: 231.9862060546875px;
  margin-left: 10px;
  margin-top: 30px;
  border-radius: 0px;
  padding: 14px, 105px, 14px, 105px;
  background: #007c89;
  border: 0.1px solid #000000;
}

.selectplans {
  height: 22px;
  width: 177px;
  float: left;
  margin-left: 50px;
  margin-top: 10px;
  border-radius: nullpx;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #007c89;
}

.rightsreserved {
  height: 44px;
  width: 767px;
  margin-left: 11px;
  margin-top: 260px;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}

.buildindianrupees {
  color: #007c89;
}

.flowerimagelayoutsingup4 {
  height: 743px;
  width: 500px;
  margin-top: 24px;
  margin-left: -60px;
}

.flowerlayoutsignup4 {
  height: 830px;
  width: 445px;
  margin-left: 257px;
  background: #ffe01b;
}

.letsetupaccount {
  height: 56px;
  width: 512px;
  margin-left: 150px;
  margin-top: 20px;
  font-family: Lora;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.firstnamelastnamelayout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.firstname {
  height: 32px;
  width: 106px;
  margin-left: 17px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

.firstname_inputbox {
  height: 44px;
  width: 218px;
  margin-left: 13px;
  border: 1px solid #241c15;
}

.lastname {
  height: 32px;
  width: 104px;
  margin-left: 175px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}
.lastname_inputbox {
  height: 44px;
  width: 242px;
  border: 1px solid #241c15;
  margin-left: 20px;
}

.businessname {
  height: 32px;
  width: 150px;
  margin-left: 148px;
  margin-top: 20px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

.businessname_inputbox {
  height: 44px;
  width: 489px;
  margin-left: 148px;
  border: 1px solid #241c15;
}

.companyname,
.phonenumber {
  height: 32px;
  width: 125px;
  margin-left: 148px;
  margin-top: 20px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

.companyname_inputbox,
.phonenumber_inputbox {
  height: 44px;
  width: 489px;
  margin-left: 148px;
  border: 1px solid #241c15;
}

.continue {
  height: 43px;
  width: 120px;
  margin-left: 148px;
  margin-top: 10px;
  padding: 14px, 29px, 14px, 29px;
  background: #007c89;
  color: white;
}

.tellusaboutcontact {
  height: 112px;
  width: 367px;
  margin-left: 215px;
  margin-top: 30px;
  font-family: Lora;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.includepeoples {
  height: 66px;
  width: 504px;
  margin-left: 215px;
  margin-top: 5px;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.contacttypecolor {
  color: #007c89;
}

.contracthaveany {
  height: 32px;
  width: 271px;
  margin-left: 214px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
  color: #241c15;
}

.contractyes,
.contractno {
  margin-left: 212px;
  margin-top: 20px;
}
.contractsure {
  margin-left: 212px;
  margin-top: 20px;
}
.contractyes label,
.contractno label,
.contractsure label {
  margin-left: 20px;
}

.continuebtnsignup5 {
  height: 43px;
  width: 120px;
  margin-left: 225px;
  margin-top: 20px;
  border-radius: 0px;
  padding: 14px, 29px, 14px, 29px;
  background: #007c89;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: white;
}

.helpustodetermine {
  height: 112px;
  width: 482px;
  margin-left: 215px;
  margin-top: 30px;
  font-family: Lora;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
}

.serviceonline {
  height: 32px;
  width: 385px;
  margin-left: 214px;
  margin-top: 10px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

.products {
  margin-left: 240px;
  margin-top: 20px;
}

.services {
  margin-left: 240px;
  margin-top: 20px;
}

.both {
  margin-left: 240px;
  margin-top: 20px;
}
.neither {
  margin-left: 240px;
  margin-top: 20px;
}
.products label,
.services label,
.both label,
.neither label {
  height: 16px;
  width: 16px;
  margin-left: 10px;
  margin-top: 4px;
  border-radius: 0px;
  background: #ffffff;
}

.intendtosell {
  height: 32px;
  width: 604px;
  margin-left: 215px;
  margin-top: 30px;
  font-family: Graphik;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

.continuebtnsignup6 {
  height: 43px;
  width: 120px;
  margin-left: 240px;
  margin-top: 20px;
  border-radius: 0px;
  padding: 14px, 29px, 14px, 29px;
  background: #007c89;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  color: white;
}

.rightsreservedsignup6 {
  height: 30px;
  width: 671px;
  margin-left: 20px;
  margin-top: 100px;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  font-family: Graphik;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

.flowerimagelayoutsingup6 {
  height: 743px;
  width: 420px;
  margin-top: 24px;
  margin-left: -100px;
}

.flowerlayoutsignup6 {
  height: 830px;
  width: 600px;
  margin-left: 257px;
  background: #ffe01b;
}
